@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;500;600&display=swap');


.txt-mitr {
    font-family: "Mitr";
}

.swiper-button-prev, .swiper-button-next {
    color: white;
    scale: 0.6;
}

.swiper-pagination {
    text-align: right;
    max-width: calc(100% - 140px);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: calc(100% - 85%);
}

.swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    opacity: 1;
    outline: none;
    cursor: pointer;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: white;
}

.bg-blue-linear {
    background: linear-gradient(155deg, #121D76 21.3%, rgba(18, 29, 118, 0) 55.38%);
}

@media only screen and (max-width: 1200px) {
    .swiper-pagination {
        height: calc(100% - 87%);
        
    }
}
@media only screen and (max-width: 992px) {
    .swiper-pagination {
        height: calc(100% - 85%);
        max-width: calc(100% - 130px);
    }
}

@media only screen and (max-width: 768px) {
    .swiper-pagination {
        height: calc(100% - 87%);
        max-width: calc(100% - 130px);
    }
}