@import url('https://fonts.googleapis.com/css2?family=Mitr:wght@200;300;400;500;600;700&family=Poppins:wght@200;300;500;600&display=swap');


.txt-mitr {
    font-family: "Mitr";
}

.swiper-button-prev, .swiper-button-next {
    color: white;
    /* height: 100%;
    width: 100%; */
    scale: 0.7;
}

/* .swiper-button-prev {
    transform: translate(45%, -5%);
}

.swiper-button-next {
    transform: translate(60%, -5%);
} */

.swiper-pagination .swiper-pagination-bullet {
    background-color: transparent;
    width: 12px;
    height: 12px;
    border: 1px solid white;
    opacity: 1;
    outline: none;
}

.swiper-pagination .swiper-pagination-bullet-active {
    background-color: white;
}

.bg-blue-linear {
    background: linear-gradient(155deg, #121D76 21.3%, rgba(18, 29, 118, 0) 55.38%);
}