.social-wrapper {
    transition: opacity 0.2s ease-out;

    > a {
        transition: opacity 0.2s ease-out;
    }
}

a:hover > .social-option {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

.social-wrapper:hover > a > .social-option:not(:hover) {
    transition: opacity 0.2s ease-out;
    opacity: 0.25;
}


