.social-wrapper {
    transition: opacity 0.2s ease-out;
}

.social-wrapper a {
    transition: opacity 0.2s ease-out;
}

a:hover > .social-option {
    transition: opacity 0.2s ease-out;
    opacity: 1;
}

.social-wrapper:hover > a > .social-option:not(:hover) {
    transition: opacity 0.2s ease-out;
    opacity: 0.25;
}

.bg-linear-blue {
    background: linear-gradient(268.05deg, #080E40 11.64%, #085DFF 111.07%);
}

.bg-linear-soft-blue {
    background: linear-gradient(285deg, #080E40 -34.26%, #085DFF 106.76%);
}

.menu-expand-list::after{
    content: '';
    position: absolute;
    height: 2px;
    background-color: white;
    width: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: width 0.3s;
}

.menu-expand-list:hover::after{
    width: 100%;
}


